---
// src/components/Background.astro
// No props needed for this component
---
<div id="dappled-light" aria-hidden="true">
  <div id="glow"></div>
  <div id="glow-bounce"></div>
  <div class="perspective">
    <div id="leaves"></div>
    <div id="blinds">
      <div class="shutters">
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
        <div class="shutter"></div>
      </div>
      <div class="vertical">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div id="progressive-blur">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
